/* Estilos generales para la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Fondo negro */
    color: #FFFFFF; /* Texto blanco */
}

/* Contenedor del formulario */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #1E1E1E; /* Fondo gris oscuro */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Sombra más intensa */
}

/* Estilo del título */
h2 {
    margin-bottom: 20px;
    color: #FFCC00; /* Amarillo */
    font-size: 1.5rem;
}

/* Estilo para el grupo de formulario */
.form-group {
    width: 100%;
    max-width: 500px; /* Ancho máximo del grupo de formulario */
    margin-bottom: 15px;
}

/* Estilo para las etiquetas */
label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #FFCC00; /* Amarillo */
}

/* Estilo para los campos de entrada */
.form-control {
    display: block;
    width: 100%; /* Ocupa el 100% del ancho del contenedor */
    max-width: 100%; /* Asegura que no se haga más grande que el contenedor */
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}

/* Estilo para los botones */
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-warning {
    color: #212529;
    background-color: #FFCC00; /* Amarillo */
    border-color: #FFCC00; /* Amarillo */
}

.btn-warning:hover {
    color: #212529;
    background-color: #E0A800; /* Amarillo más oscuro */
    border-color: #D39E00; /* Amarillo más oscuro */
}

.btn-warning {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
