body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Negro */
    color: #FFFFFF; /* Blanco */
}

/* Estilo para el encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333; /* Gris oscuro */
    color: white;
    padding: 1em 2em;
}

header .logo {
    flex-grow: 1;
    text-align: center;
}

header a {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; /* Hereda el color del texto del elemento padre */
    display: flex;
    align-items: center;
}

header a h1 {
    margin: 0; /* Elimina el margen predeterminado del h1 */
    color: inherit; /* Hereda el color del texto del elemento padre */
}

header a:hover {
    text-decoration: none; /* Elimina el subrayado cuando se pasa el ratón sobre el enlace */
    color: #2ecece; /* Cambia el color al pasar el ratón sobre el enlace */
}

header .seleccionF {
    margin-left: auto;
}

header .icono {
    width: 50px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 50px; /* Ajusta el tamaño de la imagen según tus necesidades */
    margin-right: 8px; /* Espacio entre la imagen y el texto */
}

/* Estilo para el pie de página */
footer {
    background-color: #333333; /* Gris oscuro */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*DISEÑO DE LA LISTA DE RAPEROS*/

h1 {
    text-align: center;
    margin-top: 20px;
    color: #2ecece; /* Azul */
}

.rapper-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 60px; /* Espacio adicional para el footer fijo */
}

.rapper {
    background-color: #1E1E1E; /* Gris muy oscuro */
    border: 1px solid #2ecece; /* Azul */
    margin: 10px;
    padding: 10px;
    width: 250px;
    text-align: center;
    overflow: hidden;
    color: #FFFFFF; /* Blanco */
}

.rapper .description {
    max-height: 170px;
    overflow-y: auto;
    padding: 0 10px;
    color: #FFFFFF; /* Blanco */
}

.rapper img {
    max-width: 100%;
    height: auto;
}

.rapper h2 {
    font-size: 1.5em;
    margin: 0.5em 0;
    color: #2ecece; /*  */
}

.rapper .links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px; /* Espacio hacia abajo entre la descripción y los enlaces */
}

.rapper a {
    text-decoration: none;
    padding: 10px; /* Aumenta el padding para agrandar el recuadro */
    display: inline-flex; /* Para centrar el contenido */
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    border-radius: 50%; /* Forma circular para los íconos */
    width: 50px; /* Tamaño del contenedor del ícono */
    height: 50px; /* Tamaño del contenedor del ícono */
    font-size: 24px; /* Ajusta el tamaño del ícono */
    line-height: 50px; /* Alinea el ícono verticalmente dentro del contenedor */
    transition: background-color 0.3s ease, color 0.3s ease; /* Agrega la transición para el color de fondo y del texto */
}

.rapper a.spotify {
    color: #1DB954; /* Verde de Spotify */
    border: 2px solid #1DB954; /* Verde de Spotify */
}

.rapper a.youtube {
    color: #FF0000; /* Rojo de YouTube */
    border: 2px solid #FF0000; /* Rojo de YouTube */
}

.rapper a:hover {
    text-decoration: underline;
}

.rapper a.spotify:hover {
    color: #ffffff; /* Blanco */
    background-color: #ffffff; /* Verde de Spotify */
}

.rapper a.youtube:hover {
    color: #ffffff; /* Blanco */
    background-color: #ffffff; /* Rojo de YouTube */
}

img {
    width: 150px; /* Ajusta el tamaño según tus necesidades */
    height: 150px; /* Ajusta el tamaño según tus necesidades */
    border-radius: 50%;
}




/*Buscador de raperos*/

.search-container   {
    width: 20%; /* O cualquier ancho que desees */
    margin: 0 auto; /* Esto centra horizontalmente */

}

.form {
    width: 100%;
    height: 50px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
}

.form input {
    width: 100%;
    height: 100%;
    background: none;
    color: #fff;
    padding-top: 5px;
    border: none;
    outline: 0px;
}

.form .lbl-nombre {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #c7c7c7;
}

.form .lbl-nombre:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #2ecece;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.text-nomb {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: #fff;
}

.form input:focus + .lbl-nombre .text-nomb,
.form input:valid + .lbl-nombre .text-nomb {
    transform: translateY(-150%);
    font-size: 14px;
    color: #2ecece;
}

.form input:focus + .lbl-nombre:after,
.form input:valid + .lbl-nombre:after {
    transform: translateX(0%);
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .form {
        width: 85%;
    }
}
@media only screen and (max-width: 768px) {

    .search-container {
     
        width: 90%; /* Ocupa todo el ancho disponible en pantallas pequeñas */
        max-width: 100%; /* Elimina el ancho máximo en pantallas pequeñas */
        padding: 0 2.5em; /* Reduce el relleno en pantallas pequeñas */

    }
}